<%- include('../includes/head.ejs') %>
<div class="is-size-3">¿Quién ganaría en duelo de sables de luz?</div class="is-size-3">
    <form action="duelo" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <fieldset>
    <legend>Rivales:</legend>
    <label class="label" for="visitante">Jedi </label>
    <div class="select is-rounded is-medium is-success">
        <select name="visitante" id="visitante">
          <option>Elije un rival</option>
          <% for (let e of rivales) { %>
            <option><%= e.nombre %></option>
          <% } %>
        </select>
    </div>
    <br><br>
    <label class="label" for="local">Sith </label>
    <div class="select is-rounded is-medium is-danger">
        <select name="local" id="local">
          <option>Elije un rival</option>
          <% for (let e of rivales) { %>
            <option><%= e.nombre %></option>
          <% } %>
        </select>
    </div>
    </fieldset>
    <br>
    <button class="button is-warning" >¡Pelea! </button>
    </form>
    <br><br>
<p>Has peleado <%= clicks %> veces.</p>
<p>El útimo ganador fue <%= ultimo_ganador.nombre %>.</p>

<%- include('../includes/foot.ejs') %>

